## ignore setting in VSCode
.vscode/
.code-workspace

## ignore java project in intellij
.DS_Store
.idea/

## maven build target
target/
.mvn/

## eclipse ignore 
.settings/
.project
.classpath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

*.log*
